*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: 
    #f9f9fb ;
}
/* **************top styling********** */
#parentheading{
    margin: auto;
    width: 100%;
    height: 8vh;
    /* border: 1px solid black; */
    display: flex;
    background-color: 
    #ffffff;
    position: sticky;
    top: 0px;

}
#childheading1{
    /* border: 1px solid red; */
    padding-top: 15px;
    margin-left: 4%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none solid rbg(43,44,45);
    }

#childheading2{
    /* border: 1px solid blue; */
    display: flex;
}
#childheading2>div{
    /* border: 1px solid red; */
    margin: 0px 15px;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
#childheading2>#firstchild>p>a{
    text-decoration: none;
    color: black;
}
#childheading2>#firstchild{
    font-weight: 700;
}

/* *************top styling end************ */
#image{
    width: 70%;
    height: 33vh;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;

}
#image>img{
    width: 100%;
    height: 100%;
}



/* ************body part styling********** */
#bodypart{
    
    width: 90%;
    /* height: 50vh; */
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
#leftpart{
    border: 1px solid lightgray;
    width: 22%;
    height: 63vh;
    background-color: #ffffff;
    border-radius: 10px;
    padding:0px 10px 10px 10px
}
#middlepart{
    border: 1px solid lightgray;
    width: 48%;
    height: 254vh;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 10px;
}
#rightpart{
    /* border: 1px solid lightgray; */
    width: 22%;
    height: 130vh;
    /* background-color: #ffffff; */
    border-radius: 10px;
}
/* ****************** body left part styling*********** */
#left_top>#button{
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 1px solid lightblue; */
    /* padding: 5px 15px; */
    line-height: 16px;
    font-size: 16px;
    margin: 15px 0px;
    cursor: pointer;
    
}
#left_top>#button>#button1{
    /* margin: auto; */
    border: 1px solid #03A9F4;
    padding: 7px 25px;
    border-radius: 5px 0px 0px 5px;
    color: white;
    background-color: #03A9F4;
}
#left_top>#button>#button2{
    /* margin: auto; */
    border: 1px solid #03A9F4;
    padding:7px 30px;
    border-radius: 0px 5px 5px 0px;
    color: #03A9F4;
}

#left_middle>#div2{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 15px;
}
#left_bottom>#div2{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 15px;
}
#div2>div:first-child{
   /* border: 1px solid black; */
   height: 30px;
}
#div2>div:first-child>img{
    height: 100%;
}
#div2>div:last-child{
    /* border: 1px solid black; */
    padding-top: 3px;
    padding-left: 7px;
    font-weight: 700;
}

#left_middle>#div3{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 15px;
}
#left_bottom>#div3{
    display: flex;
    /* border: 1px solid red; */
    margin-top: 15px;
}
#div3>div:first-child{
   /* border: 1px solid black; */
   height: 30px;
}
#div3>div:first-child>img{
    height: 100%;
}
#div3>div:last-child{
    /* border: 1px solid black; */
    padding-top: 3px;
    padding-left: 7px;
    font-weight: 700;
}
#left_middle>#div4{
    margin: 10px 0px;
    
}
#left_bottom>#div4{
    margin: 10px 0px;
    
}
#left_bottom{
    margin-top: 10px;
}
#left_last{
    color: #03A9F4;
    font-weight: 600;
}
#left_middle>#div1{
    font-weight: 500;
}
#left_bottom>#div1{
    font-weight: 500;
}
/* *****************************middle part******** */
#middlepart>#bigbox{
    font-weight: 700;
    margin: 10px 0px 10px 10px;
}
#topsecond>#div1{
    margin-top: 12px;
    font-size: 14px;
}
#topsecond>#div2{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 700;
}
#topsecond>#div3{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-weight: 700;
    color: gray;
}
#topsecond>#div4{
    font-size: 13px;
    margin-bottom: 10px;
}

#middlepart>#image{
    /* border: 1px solid blue; */
    width: 97%;
    height: 49vh;
    margin: auto;
    margin-top: 15px;
}
#middlepart>#image>img{
    border-radius: 7px;
    cursor: pointer ;
    /* height: 300px; */
    /* overflow: hidden; */
}
#middlepart>#image>img:hover{
    transform: scale(1.04);
}

#middlepart>#chahal{
    font-size: 21px;
    font-weight: 700;
    margin-top: 12px;
    margin-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#middlepart>#comment{
    font-size: 14px;
    margin-bottom: 10px;
}
/* ***************** */

#middlepart>#moreimages{
    width: 96%;
    margin: auto;
    margin-top: 15px;
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    /* border: 1px solid red; */
    height: 10%;
    margin-bottom: 15px;
}
#middlepart>#moreimages>div{
    /* border: 1px solid black; */
    height: 100%;
    font-size: 12px;
}
    
#middlepart>#moreimages>div>img{
    width: 100%;
    height: 70%;
    cursor: pointer;
    border-radius: 10px;
    
}
#middlepart>#moreimages>div>img:hover{
    transform: scale(1.04);
}
/* ***************** */
/* **************** */
/* ***************** */
#middlepart>#matchplace{
    font-size: 14px;
    padding-left: 10px;
    margin-top: -7px;
    margin-bottom: 5px;
}

#middlepart>#middle{
    width: 97%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid blue; */
    margin-top: 10px;
    margin-bottom: 10px;
}
#middle>#first{
    height: 100%;
    width: 35%;
    /* border: 1px solid red; */
}
#middle>#first>img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;
}
#middle>#first>img:hover{
    transform: scale(1.04);
}
#middle>#second{
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
}
#middle>#second>div:first-child{
    line-height: 22px;
    font-weight: 700;
}
#middle>#second>div:last-child{
    margin-top: 10px;
    line-height:21px;
    /* font-size : 14px */
    font-size: 14px;
}
 /* *****************************    */
 /* ******right part styling********* */
 /* ************************* */
 #firstone{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;

 }
#firstone>#heading{
    padding: 6px 0px 10px 8px;
    font-weight: 700;
}
#firstone>#line{
    border: 2px solid lightgray;
}
#firstone>#playerdetails{
    width: 100%;
    /* border: 1px solid red; */
    height: 17vh;
    margin-top: 10px;
    padding: 15px 15px 0px 15px;
    display: flex;
    justify-content: space-around;
}
#playerdetails>#playerimage{
    /* border: 1px solid black; */
    width:30%;
    height: 70%;
}
#playerimage>img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
#playerdetails>#details{
    /* border: 1px solid blue; */
    margin-left: 7px;
}
#details>div:first-child{
    font-size: 14px;
    font-weight: 600;
}
#details>div:nth-child(2){
    font-size: 27px;
    font-weight: 700;
}
#details>div:last-child{
    font-size: 12px;
}

/* ****** */
#secondone{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #ffffff;

 }
#secondone>#heading{
    padding: 6px 0px 10px 8px;
    font-weight: 700;
}
#secondone>#line{
    border: 2px solid lightgray;
}
#secondone>#playerdetails{
    width: 100%;
    /* border: 1px solid red; */
    height: 17vh;
    margin-top: 10px;
    padding: 15px 15px 0px 15px;
    display: flex;
    justify-content: space-around;
}

/* *******privacy policy part******* */
#footerlastpart{
    margin-top: 14px;
    width: 100%;
    height: 50px;
    border: 1px solid transparent;
    background-color: #edeef0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insidefooterlastpart{
    border: 1px solid transparent;
    width: 90%;
    height: 1.3em;
    display: flex;
    justify-content: space-between;
}
.theend>p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    
}
.theend>span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}
.theend>span>a{
    text-decoration: none;
    color: black;
}
.theend>span:hover{
    text-decoration: underline gray;
}


    



